@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  font-named-instance: 'Regular';
  src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'BDLifelessGrotesk';
  font-style: normal;
  font-display: block;
  font-named-instance: 'Regular';
  src: url('../fonts/BDLifelessGrotesk-Variable.ttf') format('ttf');
}
