@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-background: 0 0% 0%;
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 15.1%;
    --muted-foreground: 255 0% 100%;

    --popover: 0 0 0%;
    --popover-foreground: 210 40% 98%;

    --card: 273 40% 5%;
    --card-foreground: 255 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 258.8 60.6% 50%;

    --primary-bg: 258.8 60.6% 50%;
    --primary-hover: 251.6 80.6% 75.3%;
    --primary: 258.8 60.6% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 251.6 80.6% 75.3%;
    --secondary-foreground: 255 0% 100%;

    --accent: 0 0% 5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --nav-primary: 251.6 80.6% 75.3%;
    --nav-shadow: 0 0% 0%;

    --tooltip-shadow: rgba(9, 24, 44, 0.07);

    --radius: 1rem;

    --panel-border: rgba(35, 66, 84, 0.1);
    --panel-bg: 0 0% 5%;
    --input-background: 0 0% 5%;
    --icon-foreground: 106 118 146;

    --product-green: 109 194 117;
    --product-orange: 242 153 20;
    --product-red: 252 80 56;
    --product-blue: 62 100 239;
    --product-dai: 245 172 55;
    --product-sdai: 38 182 62;
    --prompt-foreground: #ffffff80;
    --success-background: #e2f1ec;
    --checkbox: #0b2140;
    --product-dark-blue: 37, 87, 214;

    --basics-black: 11 33 64;
    --basics-white: 255 255 255;
    --basics-border: rgba(35, 66, 84, 0.1);
    --basics-dark-grey: 106 118 146;
    --basics-grey: 217 217 217;
    --basics-light-grey: 249 249 251;
    --basics-green: 51 190 39;
    --basics-red: 220 38 38;
    --spark: 242 166 43;

    --main-blue: 64 102 239;

    --sec-green: 109 194 117;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-body text-foreground slashed-zero relative min-h-screen font-grotesk;
  }
  input {
    background: none;
    @apply slashed-zero;
  }

  .bg-last-gradient {
    background-image: radial-gradient(
        circle at center,
        hsl(20, 100%, 54%),
        transparent
      ),
      radial-gradient(circle at center, rgb(43, 27, 218), transparent);
    background-size:
      689px 639px,
      1276px 1276px;
    background-position:
      150px 100px,
      center -170px;
    background-repeat: no-repeat;
    background-attachment: fixed;

    filter: blur(120px);
    opacity: 0.6;
  }

  .bg-last-noise {
    opacity: 60%;

    background-image: url('/backgrounds/noise.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .TooltipContent[data-side="bottom"] > span >svg {
    transform: translateY(100%);
  }
}
