@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-background: 210 20% 98%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: #0b2140;
    --primary-bg: 227, 85%, 59%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 215, 71%, 15%;

    --secondary: 240, 20%, 98%;
    --secondary-foreground: 215, 71%, 15%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --nav-primary: 63 102 239;
    --nav-shadow: rgba(11, 33, 64, 0.08);

    --tooltip-shadow: rgba(9, 24, 44, 0.07);

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --panel-border: rgba(35, 66, 84, 0.1);
    --panel-bg: #f9f9fb;
    --input-background: #f9f9fb;
    --icon-foreground: 106 118 146;

    --product-green: 109 194 117;
    --product-orange: 242 153 20;
    --product-red: 252 80 56;
    --product-blue: 62 100 239;
    --product-dai: 245 172 55;
    --product-sdai: 38 182 62;
    --prompt-foreground: #6a7692;
    --success-background: #e2f1ec;
    --checkbox: #0b2140;
    --product-dark-blue: 37, 87, 214;

    --basics-black: 11 33 64;
    --basics-white: 255 255 255;
    --basics-border: rgba(35, 66, 84, 0.1);
    --basics-dark-grey: 106 118 146;
    --basics-grey: 217 217 217;
    --basics-light-grey: 249 249 251;
    --basics-green: 51 190 39;
    --basics-red: 220 38 38;
    --spark: 242 166 43;

    --main-blue: 64 102 239;

    --sec-green: 109 194 117;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-body text-foreground slashed-zero;
  }
  input {
    background: none;
    @apply slashed-zero;
  }
}

.rtl {
  direction: rtl;
}
