#storybook-root {
  min-width: 400px;
  min-height: 400px;
}

/*
prevents reapplying same values when using WithClassname
decorator in root of story file but doesnt apply to component itself
*/
#storybook-root > [data-sb="decorator"] {
  min-width: 400px;
  min-height: 400px;
}
